.image {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.card {
    width: 200px;
    height: 350px;
    margin: 10px;
    border-style: solid;
    display: inline-block;
}

.message {
    display: flex;
    width: 200px;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
}

.hidden {
    display: none;
}